* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.post__logo-mobil,
.post__mobil-img {
  display: none;
}

.post {
  background-image: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: left;
}

.post__container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.post__info {
  margin: 5em 0 0 5em;
  flex-basis: 40%;
}

.post__info-conte {
  margin-top: 8em;
}

.post__title {
  font-size: 4em;
  text-transform: uppercase;
  color: hsl(0, 6%, 24%);
  letter-spacing: 0.2em;
}

.post__title-mod {
  font-weight: 300;
  letter-spacing: 0.2em;
  color: hsl(0, 36%, 70%);
}

.post__text {
  margin-top: 0.8em;
  font-size: 1.1em;
  line-height: 2;
  font-weight: 600;
  color: hsl(0, 36%, 70%);
}
/* STYLE OF FORM*/

.post__form {
  margin: 1em 0;
  position: relative;
  display: flex;
}

.post__form > input {
  border: none;
  outline: none;
  border: 2px solid hsl(0, 36%, 70%);
  border-radius: 2em;
  font-size: 1em;
  padding: 0.8em 6em 0.8em 1.5em;
  color: hsl(0, 6%, 24%);
  flex-basis: 100%;
}

.post__form-btn {
  border: none;
  background: linear-gradient(
    135deg,
    rgba(248, 191, 191, 1) 35%,
    rgba(238, 141, 141, 1) 100%
  );
  padding: 0.95em 2.5em;
  border-radius: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  box-shadow: 0px 6px 12px rgb(238, 141, 141);
  cursor: pointer;
  transition: 0.4s;
}

.post__form-btn:hover {
  background: linear-gradient(
    135deg,
    rgba(248, 191, 191, 1) 35%,
    rgba(248, 191, 191, 1) 100%
  );
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

.post__error {
  font-size: 1em;
  font-weight: 300;
  color: hsl(0, 93%, 68%);
  display: none;
}

.post__form-img-error {
  position: absolute;
  right: 90px;
  top: 12px;
  display: none;
}
.post__imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5em;
}
.post__imagen-img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/*FOOTER */

.pie {
  margin: 2em;
}
.pie__text {
  color: rgb(0, 105, 112);
  text-align: center;
  margin-top: 14px;
}

.pie__text > a {
  text-decoration: none;
  color: rgb(227, 136, 38);
}

@media screen and (max-width: 1050px) {
  .post__info-conte {
    margin-top: 6em;
  }
  .post__title {
    font-size: 3em;
  }
}

@media screen and (max-width: 800px) {
  .post__logo-desktop,
  .post__imagen {
    display: none;
  }

  .post {
    background-size: 100% 100%;
  }

  .post__info {
    flex-basis: 100%;
    margin: 0 1em;
    text-align: center;
  }

  .post__info-conte {
    margin-top: 4em;
  }

  .post__title {
    width: 60%;
    margin: auto;
  }

  .post__logo-mobil,
  .post__mobil-img {
    display: block;
  }

  .post__logo-mobil {
    margin: 1.5em;
  }
  .post__mobil {
    width: 100%;
  }

  .post__mobil-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top center;
  }

}

@media screen and (max-width: 500px) {
  .post__title {
    width: 100%;
  }
}
