/* ## Colors

### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  outline: 1px solid red;
}

.post__img-mobil {
  display: none;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.post__container {
  display: flex;
  justify-content: space-between;
}

.post__info {
  padding: 5em 0;
  flex-basis: 40%;
}

.post__info-conte {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
}

.post__title {
  font-size: 5em;
  text-transform: uppercase;
  /* width: 30%; */
  color: hsl(0, 6%, 24%);
  letter-spacing: 0.2em;
}

.post__title-mod {
  font-weight: 300;
  letter-spacing: 0.2em;
  color: hsl(0, 36%, 70%);
}

.post__text {
  margin-top: 0.4em;
  font-size: 1.1em;
  line-height: 2;
  font-weight: 600;
  color: hsl(0, 36%, 70%);
}
/* STYLE OF FORM*/

.post__form {
  margin: 1em 0;
  position: relative;
  display: flex;
}

.post__form > input {
  border: none;
  outline: none;
  border: 2px solid hsl(0, 36%, 70%);
  border-radius: 2em;
  font-size: 1.2em;
  padding: 0.5em 6em 0.5em 2.5em;
  color: hsl(0, 6%, 24%);
  flex-basis: 100%;
}

.post__form-btn {
  border: none;
  background: linear-gradient(
    135deg,
    rgba(248, 191, 191, 1) 35%,
    rgba(238, 141, 141, 1) 100%
  );
  padding: 0.8em 2.5em;
  border-radius: 25px;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0px 6px 12px rgb(238, 141, 141);
  cursor: pointer;
  transition: 0.4s;
}

.post__form-btn:hover {
  background: linear-gradient(
    135deg,
    rgba(248, 191, 191, 1) 35%,
    rgba(248, 191, 191, 1) 100%
  );
}

.post__error {
  font-size: 1em;
  font-weight: 300;
  color: hsl(0, 93%, 68%);
  display: none;
}

.post__form-img-error {
  position: absolute;
  right: 90px;
  top: 12px;
  display: none;
}

@media screen and (max-width: 1320px) {
  .container {
    width: 100%;
  }

  .post__info {
    padding: 5em 2.5em 5em 5em;
  }
}

@media screen and (max-width: 850px) {
  .post__container {
    justify-content: center;
  }

  .post__info {
    flex-basis: 100%;
    padding: 5em;
  }

  .post__text {
    font-size: 1em;
    font-weight: normal;
  }

  .post__info-conte {
    align-items: center;
    text-align: center;
  }

  .post__imagen-img {
    display: none;
  }

  .post__form {
    width: 100%;
  }

  .post__img-mobil {
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: top;
  }
}

@media screen and (max-width: 460px) {
  .post__title {
    font-size: 3em;
  }

  .post__text {
    font-size: 0.9em;
    margin: 1em;
  }
}
